/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root {
  --background: white;
  --text: black;
  --highlight: #ff1ead;
}

@import url("https://fonts.googleapis.com/css?family=Oswald");

body {
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  transition: 0.5s background ease;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.switch {
  background: white;
  width: 24px;
  height: 24px;
  background: var(--background);
  border-radius: 100%;
  position: absolute;
  top: 3px;
  left: 4px;
  transition: 0.5s all ease;
}

.light-theme {
  --background: #fff;
  --text: #000;
  background: var(--background);
}

a {
  color: var(--text);
}

.navigation {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  list-style-type: none;
}
a {
  margin: 10px 30px;
  position: relative;
  color: var(--text);
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

:before {
  position: absolute;
  bottom: -2px;
  content: "";
  width: 100%;
  height: 3px;
  background: var(--highlight);
  transform: translateX(-100%);
  opacity: 0;
}

/* &:hover {
  before {
    opacity: 1;
    transition: 0.5s transform ease, 0.8s opacity ease;
    transform: translateX(0);
  }
} */

.active {
  color: var(--highlight);
}

/* &:hover {
  &:before {
    opacity: 0;
  }
} */

/* custom properties */
/* :root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: rgb(11, 207, 11);

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
} */
  /* --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
  0.125em 0.125em 0.25em rgba(0,0,0,.15); */
/* } */

/* Set a style for all buttons */
.submit-btn {
  background-color: var(--clr-accent);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.submit-btnver {
  opacity:1;
}
