/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



@import url("https://fonts.googleapis.com/css?family=Oswald");

/* body {
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  transition: 0.5s background ease;
} */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* a {
  color: var(--text);
} */

/* .navigation {
  display: flex;
  justify-content: center;
} */


/* Set a style for all buttons */
.submit-btn {
  
  
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

/* .submit-btnver {
  opacity:1;
} */
